*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
}
input{
  text-indent: 15px;
}
.el-table__fixed{
  pointer-events: none !important;
}
.el-table__fixed-right{
  pointer-events: none !important;
}
.el-table__fixed-body-wrapper{
  pointer-events: all;
}
